terraform {
   backend "remote" {
   hostname     = "${tfe_hostname}"
   organization = "${tfe_organization}"
   token        = "${ghe_token}"
   workspaces {
     name = "${tfe_workspace}"
   }
 }
}
