# ${tfe_org_name}-${wh}manager

## Non Sensitive Settings
tfe_hostname  = "${tfe_hostname}"

tfe_org_name  = "${tfe_org_name}"

tfe_org_email = "${tfe_org_email}"

ghe_api_url   = "${ghe_api_url}"

ghe_http_url  = "${ghe_http_url}"
