tfe_hostname  = "${tfe_hostname}"
tfe_token     = "${tfe_token}"
tfe_org_name  = "${tfe_org_name}"
tfe_org_email = "${tfe_org_email}"
ghe_token     = "${ghe_token}"
ghe_api_url   = "${ghe_api_url}"
ghe_http_url  = "${ghe_http_url}"
